$font-family-sans-serif: "Inter" !default;
$font-family-mono: "Roboto Mono" !default;

$rounded-pixel: 8px !default;

$roxo-eleva: #6070b4;
$verde-eleva: #008372;
$laranja-eleva: #f7954a;
$roxo-eleva: #6070b4;
$dark-grey: #444;
$medium-grey: #666;
$light-grey: #ccc;
$vermelho-danger: #dc3545;
$light-grey-blue: #c3c8d1;
$required: #E65637;

$vermelho-danger: #dc3545;

$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 16px;

$color-success-dark: #28975a;
$color-neutral-white: #ffffff;

$neutral: #adb2ba;
$neutral-light: #c3c8d1;
$neutral-light-2: #ebedf1;

$success-dark: #28975a;

$error: #e65637;

$warning: #ffac30;

/* Names from: https://www.htmlcsscolor.com/ */
$black-russian: #0f0f10;
$persian-blue: #242cc2;
$studio: #774baf;
$studio2: #774bb0;
$comet: #65668e;

/* table > td font color */
$baltic-sea: #3d3f42;
