<div class="teste">
  <span class="table-title"
    ><b>Cargas Iniciais - Alocacao de Professores</b></span
  >

  <div
    #tableContainer
    *ngIf="data.headers.length"
    class="table-sheet-container"
    tabindex="0"
    (focusin)="focused = true"
    (focusout)="focused = false"
  >
    <table class="lista lista-sticky" (clickOutside)="focusOut()">
      <thead class="lista-header">
        <tr>
          <th>N</th>
          <th
            *ngFor="let header of data.headers; let headerIdx = index"
            [class.coll-selected]="headerIdx == etapaCounter"
          >
            <div class="etapa-header">
              <span> {{ header }} </span>
              <!-- <span -->
              <!-- *ngIf="headerIdx == etapaCounter" -->
              <!-- class="etapa-header-target" -->
              <!-- > -->
              <!-- <span class="material-symbols-outlined"> frame_inspect </span> -->
              <!-- </span> -->
            </div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of data.rows; let rowIdx = index">
          <td>{{ row.idx + 1 }}</td>
          <td
            #cell
            *ngFor="let cell of row.cells; let colIdx = index"
            [class.cell-selected]="cellSelected(rowIdx, colIdx)"
            (click)="selectCell(rowIdx, colIdx)"
          >
            <div class="td-values">
              <span
                *ngFor="let value of cell.values"
                class="cell-value"
                [class.invalid]="!value.valid && colIdx == etapaCounter"
                [class.changed]="value.changed"
                [title]="valorOriginal(value.original)"
              >
                {{ value?.value?.length ? value.value : 'campo_vazio' }}
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
