<div class="importador-container">
  <div class="control-container">
    <input type="file" hidden #fileInput (change)="onFileSelected($event)" />
    <div class="upload-button">
      <button (click)="openFile()">Start</button>
      <!-- <label> -->
      <!-- <input type="checkbox" />Filtrar linhas por erro selecionado -->
      <!-- </label> -->
    </div>
  </div>

  <div class="table-view">
    <div class="box-rounded table-container">
      <app-import-table
        [etapaCounter]="etapaAtual"
        [data]="tableData"
        [cellCursor]="cellCursor"
      >
      </app-import-table>
    </div>
    <div class="box-rounded cell-info">
      <cell-inspect
        [etapa]="getEtapaAtual()"
        [cell]="selectedCell"
        [cursor]="cellCursor"
        (update)="updateCell($event)"
        (selecionaErro)="selecionaErro($event)"
      ></cell-inspect>
    </div>
  </div>
</div>
